.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 36px;
    left: 32px;
    top: 32px;
}

.bm-burger-bars,
.bm-burger-bars-hover {
    background: #373a47;
    transition: background 0.3s ease;
    border-radius: 5px;
}

.bm-burger-bars-hover {
    background: #000;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
    margin-left: 30px;
}

.bm-cross {
    background: #fff;
}

.bm-cross-button>span {
    right: 14px;
}

.bm-menu-wrap {
    position: fixed;
    right: inherit;
    z-index: 1100;
    width: 300px;
    height: 100%;
    transition: all 0.5s ease 0s;
    overflow: hidden;
    box-sizing: border-box;
    transform: perspective(1000px) rotateY(0deg);
    transform-origin: 0 0;
}

.bm-menu {
    background: linear-gradient(39.97deg, #03d6f3 0.79%, #458ff6 79.29%);
    padding: 2.5em 1.5em 0 0;
    height: 100vh;
    overflow: hidden !important;
    width: 300px;
    transform: perspective(1000px) rotateY(0deg);
    transform-origin: 0 0;
}

.bm-item-list {
    padding: 0.8em;
}

.menu-item {
    position: relative;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    padding: 10px;
}

.menu-item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.active-item {
    font-weight: 500;
}

.menu-item:hover:before,
.active-item:before {
    visibility: visible;
    height: 3px;
}

@media only screen and (max-width: 640px) {
    .bm-burger-button {
        position: fixed;
        width: 20px;
        height: 20px;
        left: 32px;
        top: 32px;
    }
    .menu-item {
        position: relative;
        font-size: 27px;
        text-decoration: none;
        color: #fff;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        padding: 10px;
    }
    .bm-cross-button {
        height: 24px;
        width: 24px;
        margin-left: 30px;
    }
    .bm-menu {
        background: linear-gradient(39.97deg, #03d6f3 0.79%, #458ff6 79.29%);
        padding: 2.5em 1.5em 0 0;
        height: 100vh;
        overflow: hidden !important;
        width: 300px;
        transform: perspective(1000px) rotateY(0deg);
        transform-origin: 0 0;
    }
}